// web/components/form/submit_button/template.pug
button(
  type="submit"
  name=name
  value=value
  form=form
  disabled=disabled
  formmethod=formmethod
  formaction=formaction
  formenctype=formenctype
  formnovalidate=formnovalidate
  formtarget=formtarget
  class=class_
)= label
